<div class="container">
  <h1 id="feed_title"> Your feed </h1>
  <form action='/tweets' method='post'>
    <input type='text' name='content'>
    <input type='submit' value='tweet'>
  </form>

  <div class = "followee">
    <% @followee_tweets.each do |tweet| %>
      <div class="tweet_username">
        <div class="username left"><a href="/users/<%= tweet.user.id %>"><%= tweet.user.username %></a></div>
        <div class="tweet right"><%= tweet.content %></div>
        <div class="clear"></div>
      </div>
    <% end %>
  </div>
</div>
