<div class="container">
  <h1><%= @user.username %></h1>
  <p><%= @user.user_bio %></p>
  <img src="<%=@user.user_bio_picture%>">
  <form action="/users/<%= @user.id%>/edit" method="get">
    <input type="submit" value="Edit Profile">
  </form>
</div>
