<div class="container">
  <form action="/sessions/new" method="post">
    <input class="button" type="text" name="username" placeholder="Enter User Name" value="<%= @user.username %>" />
    <input class="button" type="password" name="password" placeholder="Enter Password" />
    <button class="button" type="submit" class="btn btn-success">Sign In</button>
  </form>
</div>
