<div class = "errors">
  <% if @user.errors %>
  <%=@user.errors.full_messages.to_sentence %>
  <% end %>
</div>

<div class="container">

<div>
  <form action="/users/new" method="post">
    <input type="text" name="user[username]" placeholder="User Name" value="<%= @user.username %>"/>
    <input type="password" name="user[password]" placeholder="Password"/>
    <button type="submit" class="btn btn-success">Sign Up</button>
  </form>
</div>
</div>


